.banner_container{
    background: url("../../assets/coding.avif");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 10px;
}